<div class="container">
  <h1>Create Garden</h1>
  <form action="/insertGarden" method="post">
    <div class="form-group">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      <input type="hidden" name="user_id" value="<%= User_Data.User_id %>">


      <label for="garden_name">Garden name</label>
      <input type="text" class="form-control" name="garden_name" id="garden_name"><br>

      <label for="garden_area">Garden area</label>
      <input type="text" class="form-control" name="garden_area" id="garden_area"><br>

      <label for="garden_no_trees">Number of trees</label>
      <input type="text" class="form-control" name="garden_no_trees" id="garden_no_trees"><br>

      <label for="garden_type">Garden type</label>
      <input type="text" class="form-control" name="garden_type" id="garden_type"><br>

      <button class="btn btn-default">Submit</button>

    </div>
  </form>
</div>
