
<div class="bg">
  <div class="wrap-main">
    <h3>Welcome to Cocal, </h3>
    <a class="btn-normal" href="/login">Go to login</a>
    <a href="/user/create" class="btn-register">Register</a>
  </div>
</div>
