
<div class="container">
  <h1>create user page</h1>
  <form action="/insertUser" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name"><br>

      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" name="last_name" id="last_name"><br>

      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" name="email"><br>

      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" name="password"><br>

      <button class="btn btn-default">submit</button>
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </div>
  </form>
</div>
